<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MeetToMe.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0FD30DD41D5F8D05004DBCA7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0FD30DEA1D5F8D05004DBCA7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0FD30DF51D5F8D05004DBCA7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
